/* --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%); */
.bg{
    height:100vh;
    background-image: url("/images/home-bg.jpg");
    background-position: center;
}

.fancyBtn{
    /* --clr-neon: hsl(317 100% 54%); */
    --clr-neon: hsl(347, 99%, 50%);
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    color: var(--clr-neon); /* clr-neon */
    display: inline-block;
    border: var(--clr-neon) solid 0.125em;
    padding: .25em 1.25em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3) , 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.fancyBtn::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top:120%;
    left:0;
    right:0;
    bottom: 0;
    width:100%;
    height:100%;

    transform: perspective(1em) rotateX(40deg) scale(1,0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.fancyBtn::after{
    --clr-neon: hsl(347, 99%, 50%);
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    transition: opacity 100ms linear;
    z-index: -1;
}

.fancyBtn:hover,
.fancyBtn:focus{
    --clr-neon: hsl(347, 99%, 50%);
    --clr-bg: rgb(236, 232, 234);
    color:var(--clr-bg);
    text-shadow: none;
}
.fancyBtn:hover::before,
.fancyBtn:focus::before,
.fancyBtn:hover::after,
.fancyBtn:focus::after{
    opacity: 1;
}
